# Ignore node_modules directory
node_modules/

# Ignore build output directory
build/

# Ignore environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore local TypeScript build output
*.tsbuildinfo

# Ignore IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
