/* UiDistritoGrid.css */
.relative-overflow-x-auto {
    position: relative;
}

.shadow-md-sm-rounded-lg {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    background-color: white;
}

.md-flex-row {
    flex-direction: row;
}

.space-y-4-md-space-y-0 {
    margin-bottom: 1rem;
}

.flex-gap-2 {
    display: flex;
    gap: 0.5rem;
}

.relative {
    position: relative;
}

.search-icon-container svg {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    pointer-events: none;
}

.search-input {
    padding: 0.5rem;
    padding-left: 2.5rem;
    font-size: 0.875rem;
    color: #1f2937;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    width: 20rem;
    background-color: #f9fafb;
    outline: none;
}

.search-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.table {
    width: 100%;
    font-size: 0.875rem;
    border-collapse: collapse;
    text-align: left;
    color: #6b7280;
}

.table-head {
    font-size: 0.75rem;
    color: white;
    text-transform: uppercase;
    background-color: #DD3333;
}

.table-head th {
    padding: 0.75rem;
}

.table-row {
    border-bottom: 1px solid #e5e7eb;
}

.table-row:hover {
    background-color: #d0d0d0;
}

.table-row-white {
    background-color: white;
}

.table-row-gray {
    background-color: #f0f0f0;
}

.table-cell {
    padding: 0.75rem;
    font-weight: 500;
    color: #1f2937;
    white-space: nowrap;
}

.group-button {
    display: flex;
    gap: 10px;
}

.table-action-button {
    color: white;
    background-color: #274b7c;
    border: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 0.375rem;
    transition: background-color 0.2s;

}

.table-action-button.delete{
    background-color: #DD3333;
}

.table-action-button.delete:hover{
    background-color: #b42626;
}

.table-action-button:hover {
    background-color: #183256;
}

.table-action-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(209, 213, 219, 0.6);
}

.text-center {
    text-align: center;
    padding: 1rem;
}